html{
    background-color: rgb(251, 241, 227);
}
form {
    display: table-cell;
    padding: 1px;;
  }

a:hover{
    background-color: rosybrown;
    size: 5px;
    color: black;


}
.legend{
    border: black 2px solid ;
    background-color: hsla(44, 94%, 88%, 0.873);
    border-style: dashed;
}


.one{
    background-color: antiquewhite;
}

.required::after{
    content: ' *';
    color: red;

}

input {
    appearance: auto;
    border: 0.1rem solid #906a6a;
    background-color: var(--bg-color); 
}
.submit-button {
    text-align: center;
   text-decoration: none;
   border: solid;
   color: black;
   background-color: #906a6a;
   padding: 10px 20px;
   cursor: pointer;
   border-radius: 15px;
}

.submit-button:hover {
    background-color: rosybrown;
    size: 5px;
    color: black;
} 
